* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#header {
    height: 10vh; 

}
#sub {
    height: 12vh; 
}
#copyright {
    height: 12vh; 
}

.flexitem {
    height: 13vh;
    display: flex;
    align-items: center;
}

.menuflexbox {
    display: flex;
    color: white;
    gap: 30px;
}

.menucontainer {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
}

.welcomesection {
    flex-direction: column;
    height: 40vh;
    color: white;
    padding: 10%;
    justify-content: center;
}

.contentflexbox {
    display: flex;
    gap: 30px;
    padding: 10%;
    color: white;
    justify-content: center;
    align-items: center;
}

.textocentrado {
    text-align: center;
}

.subscribesection {
    gap: 100px;
    height: 14vh;
    display: flex;
    flex-grow: 3;
    color: white;
    justify-content: center;
    align-items: center;
}

.titlesection {
    justify-content: start;
}

.flexcontainer {
    display: flex;
}

.subscribebutton {
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.logoscontainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}

.logoscontainer img {
    margin: 11px;
    flex-basis: 10px;
    height: 92px;
}

.grayback {
    background-color: rgb(35, 59, 70);
    
}

.orangeback {
    background-color: rgb(180, 117, 36);
}